

body {
    background: url(/static/image/27.jpg) no-repeat top center ;
    background-attachment: fixed;
    background-size: 100%;        
       }

thead {
      position: sticky;
      top: 0;
      background-color: silver;
      box-shadow: 0 2px 0 black;
      }


    
h1 {
      color: #80162f;
      font-family: 'Times New Roman';
       }


h3, h4, h5 {
      color: #808000;
      font-family: 'Times New Roman';
      }


/* ul {
      color: orange;
    } */
 /* li {
      font-size: 20px;
    }  */

