{% load static%}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>      </title>
  <link rel = "stylesheet" href = '/static/css/main.css'> 
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
   integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
   crossorigin="anonymous">
</head>
<style>
    body {
    background: url(/static/image/фон.jpg) no-repeat top center ;
    background-size: 100%;
    background-attachment: fixed;        
       }
    thead {
        position: sticky;
        top: 0;
        background-color: silver;
        box-shadow: 0 2px 0 black;
    }  
</style>


{% block content %}
<a button type="button"  class="btn btn-success" style = 'float: right;' href="{% url 'roadway' %}"> Выйти </a>
    <div class = 'container'>
        <h1 align = 'center'  ><b> Подметально-уборочные прицепы </b></h1>
   <div class = 'card card-block'> 
          <a class="btn btn-primary btn-lg btn-block" href="{% url 'create_pupricep' %}">Добавить новую марку,модель ПУ-прицепа</a>
        
           <table class="table table-bordered" style="border:1px solid; margin:0px;">
                <thead>
                   <tr align="center" valign="middle">
                       
                       <th style="width:15%;"> Марка, модель </th>
                       
                       <th style="width:15%;"> Завод-изготовитель </th>
                       <th style="width:15%;"> Фото </th>
                       <th style="width:10%;"> Галерея фото </th>
                       <th style="width:10%;"> Добавить своё фото </th>
                       <th style="width:10%;"> Технические характеристики </th>
                       <th style="width:10%;"> Комментарии </th>

                   </tr>
                </thead>
                <tbody>
                    {% if pupriceps %}
                
                        {% for pupricep in pupriceps %}
                            <tr valign="middle">
                                <td><b> {{pupricep.name}} <b></td>
                                
                                <td> {{pupricep.factory}}</td> 
                                <td> 
                                  {% if pupricep.image %}                          
                                        <img src = "{{pupricep.image.url}}" style="align='center'; max-width:200px; max-height:150px; margin:3px  ">
                                  {% endif %} </td>
                                <td align = "center">
                                    {% if pupricep.image %}  
                                    <a class="btn btn-info btn-sm btn-block" href="{% url 'photo_pupricep'  pk=pupricep.pk %}">Просмотр галереи</a>
                                    {% endif %} </td>
                                    
                                <td align = "center">                                                             
                                    <a class="btn btn-warning btn-sm btn-block" href="{% url 'create_photo_pupricep' %}">Добавить фото</a>
                                </td>
                                <td align = "center"><a class="btn btn-success btn-sm btn-block" href="{% url 'tech_pupricep' pk=pupricep.pk %}">Узнать характеристики</a> </td>
                                <td align = "center"><a class="btn btn-secondary btn-sm btn-block" href="{% url 'comments_pupricep'  pk=pupricep.pk %}">Просмотр и добавление</a> </td> 


                            </tr>
                        {% endfor %}
                    {% else %}
                        <p> No photo </p>
                    {% endif %}
                </tbody>
            </table>
        </div> 
     </div> 
{% endblock %}